[2016-10-27 14:29] ssuluh opened #2 "Incorrect data type for Node Id in the Annotation."
According to OpenStreetMap doc the id of node should be int64 not uint64.
Refer to:
http://wiki.openstreetmap.org/wiki/Node
http://wiki.openstreetmap.org/wiki/64-bit_Identifiers

[2016-10-27 14:36] ssuluh opened #3 "Complete the full implementation of Route"
Implement the following features:
- [x] Nearest
- [x] Route
- [x] Route Test
- [x] Table
- [x] Match
- [x] Trip
- [x] Tile

[2016-10-28 19:05] ssuluh commented on #2
Annotation definition still using unsigned long

[2016-10-28 19:14] #2 closed, assigned to ssuluh

[2016-11-04 07:33] frankvandenbergh opened #7 "Thank You"
Hi Surya,

Just a message to write: Thank you for sharing this component.

Tested with v5.3.3 and the European network.

[2016-11-04 07:55] frankvandenbergh opened #8 "Versioning"
The data structure of OSRM changes in time and the current osrmnet only works with v5.3. Is it possible to use the version of the OSRM data file and then use the correct libosrm related files?

Or, maybe easier and better, make subprojects within osrmnet per compiled osrm version (with included osrm's compiled exe/dll/lua). Kind of archive with all necessary files within.

[2016-11-04 12:56] ssuluh commented on #7
Great it works !

[2016-11-04 12:56] #7 closed, assigned to nobody

[2016-11-04 12:58] ssuluh commented on #8
Yes, I think at the minimum include all the tools (exe, lua profile).  This way user don't have to worry about building osrm version.

[2016-11-04 13:01] ssuluh opened #9 "Improve build script process for handling dependency to libosrm"
Check in or pull the release zip file and build script will expand them locally.

[2016-11-04 14:22] #8 closed, assigned to nobody

[2016-11-07 16:12] ssuluh opened #12 "Upgrade OSRM to latest release of 5.4.2."

[2016-11-07 16:34] #12 closed, assigned to nobody

[2016-11-14 02:52] ssuluh opened #14 "Update doc for how to build"
List all the prereq how to build this project.

[2016-12-13 19:01] ssuluh opened #15 "Step down the Platform SDK Version to 8.1 to provide a wider range of Windows build"
Specifying 10.x platform level is too high considering there's no specific os feature needed for this library to function.

[2016-12-13 19:08] #15 closed, assigned to nobody

[2017-02-17 16:07] tstaa opened #18 "Steps"
Hi, awesome project and thanks for your hard work.
Is steps in routes going to be implemented any time soon?
I would've done it myself but I'm not very good in C++, so here is a C# solution:

[code]

All you need is to call **Root.Deserialize<Root>(json);** with the json string.

Hope this helps thanks again.

[2017-02-17 16:21] ssuluh commented on #18
Let's see if I can get to this this weekend.  Steps is next on my list anyway.

[2017-02-17 18:52] tstaa opened #19 "osrm-extract"
Just to let you know the provided osrm-extract crashes on windows 10.
Managed to get it working by updating **libosrm**  with the latest from the their repo, and used the latest extractor.

[2017-02-20 02:39] ssuluh commented on #19
@tstaa, the included osrm 5.4.2 works for sure under latest Windows 10.  Couple things to check when it crashes right away:
1.  Check the correct MS C/C++ runtime library is installed.
2.  Make sure you have the temp directory exists, matching what you specified in your .stxxl.txt (default is c:\temp).

Right now osrm.net is compiled against specific version of osrm (5.4.2 currently).  So either y

[2017-02-20 03:36] #19 closed, assigned to nobody

[2017-02-20 03:37] ssuluh commented on #18
Closing this issue since this works is tracked under #3.  Right now Steps is going to be implemented first

[2017-02-20 03:38] ssuluh commented on #18
Closing this issue since this work is tracked under #3.  Right now Steps is going to be implemented first and release under next prerelease

[2017-02-20 03:38] #18 closed, assigned to nobody

[2017-02-21 22:52] tstaa opened #20 "return json string"
I'm very sorry to bother you, perhaps this is a bit generic question but been trying to resolve it for hours and googling did not help.
All I want is to create a function that returns the json object as a string, this is what I have so far:

OSRM.h
`System::String^ Route(RouteParameters^ routeParameters);`

OSRM.cpp
[code]

As you can see, I'm basically struggling to convert jsonResult to string a

[2017-02-24 13:26] ssuluh commented on #20
@tstaa, I'm guessing you're trying to get the Steps ?  If you are, you could:
1.  Wait for me to push an update.  I think I'm almost done, all I have to do is to test them.  So far the ETA for Steps support is like this weekend.
2.  If you want to manipulate the jsonResult directly, I would look into osrm::util::json inside the osrm project itself.  Unfortunately it's all C++ code, and I'm sure th

[2017-02-24 22:45] tstaa commented on #20
Thanks for your reply,
I've just spent couple of more hours looking at the C++ code trying to get the string, didn't get anywhere, so I guess I'm just gonna have to wait for your implementation of the steps.
However, I think it would be nice to have an additional function that returns the json string.

Thanks for your work.

[2017-02-25 00:57] ssuluh commented on #20
@tstaa , as far as returning String goes let me think about it some more. The same reason this project is started because the C++ library already returning a string to begin with.  This way .NET client that want to use OSRM.net doesn't have to parse the json, everything is strongly typed.  But if the demand to return the raw string is there then I will consider it.

[2017-02-25 19:14] tstaa commented on #20
I see your point, however besides the strongly typed results, running it directly without the web server is another major point of this project I think, so just the ability to do that might be enough in some cases, hence is my point here. in the end it's completely up to you. thanks again

[2017-02-25 20:46] ssuluh commented on #20
Yes sir you're correct. Libosrm which is the library where the osrm server is built on, actually is pretty fast and efficient library, the only thing is the output is actually json string.  The only thing I wish is they actually return structure/class this way at the lower layer it's more efficient and let the string conversion to json is done on the layer above it in .NET side (like use Newtonsof

[2017-02-25 21:16] ssuluh commented on #20
@tstaa, do you mind help me QA with steps=true? It may take a while to show up in nuget, but it should be version 0.1.0.34. Anything you find, please feel free to create new issue..

[2017-02-25 21:16] #20 closed, assigned to nobody

[2017-02-26 02:53] ssuluh opened #24 "Address issue with libosrm and TestData dependency, which will address the CI build is breaking"
These dependency consist of huge file, so looking to see if git lfs will help.

[2017-02-28 05:10] ssuluh commented on #24
This is the reason the master CI is breaking.  I apologize for this, but I'm working on ways to pull out the big dependency out of the system.  Will possibly address this in several days.

[2017-03-11 22:10] #24 closed, assigned to nobody

[2017-03-11 22:13] ssuluh commented on #9
This should be fixed with the latest pull request

[2017-03-11 22:13] #9 closed, assigned to nobody

[2017-03-11 22:18] ssuluh opened #27 "Upgrade libosrm to latest 5.x"
- [x] Upgrade necessary code to confirm to 5.x
- [x] Update TestData
- [x] Update redist
- [x] Find ways to host the osrmlib and dependencies
- [x] Update project to VS2017
- [x] Update build script

[2017-03-12 01:50] ssuluh opened #28 "Refactor RouteResult so it's identical to OSRM RouteResult"
Refactor OSRM RouteResult to confirm correctly to the osrm engine itself.

Sample output:
[code]

Current implementation is missing waypoint at the top level.

[2017-03-13 00:34] ssuluh commented on #28
This will be a breaking change !

[2017-03-19 15:13] ssuluh opened #30 "Upgrade Project to VS2017"
- Update c++ toolset and test project under vs2017.
- Update Appveyor build image

[2017-03-26 14:13] a6datta opened #31 "Cannot open include file: 'boost/filesystem.hpp': No such file or directory"
Hi,
I was unable to build osrmnet in VS2015. I am looking forward to release version, very excited. I am currently using Route() through web server. I use returned Geometry to draw route path on a map. Once I started writing a similar program myself but did not have enough experience doing it on my own. I was following this tutorial.
https://www.codeproject.com/Articles/165383/Integrating-an-unman

[2017-04-22 18:41] ssuluh commented on #31
a6datta I apologize for not responding, I've been out for the last 3 weeks.  Please try it with running build.ps1 to get the project dependencies.  You only need to do this one time (or a major version of osrm is included).  I'll update the readme.md with this information.

[2017-04-22 18:44] ssuluh opened #32 "Update Readme with build instruction"

[2017-04-22 18:52] ssuluh commented on #30
Item is on hold until boost is fully supported in 2017

[2017-04-27 21:30] #32 closed, assigned to ssuluh

[2017-04-27 21:30] #28 closed, assigned to nobody

[2017-04-28 08:39] linuzer opened #33 "osrmnet.OsrmException: "Invalid file paths given!""
I had it already running with an earlier version some time ago. Now I upgraded to the current release and get constantly the above runtime-error. I tried already several things, but I cannot figure out what I'm doing wrong. I use the following code:

[code]
The path looks like this:
[code]
Many thanks for help!

[2017-04-29 15:44] ssuluh commented on #33
Hi @linuzer , how do you generate that osrm file ? (Version of the osrm utility you're using ?)  osrmnet is currently linked to osrm version 5.4.2.

[2017-05-01 09:25] linuzer commented on #33
Ah, yes, I think that is the problem ... I forgot, the version has to match exactly.
But now I have trouble to (re)compile the 5.4.2 version. On the result it tells me always
[code]
...and I keep getting the fingerprint error.

Is it not possible to put the linked binaries into the release?

[2017-05-02 02:29] ssuluh commented on #33
The osrm dependencies are too big for git to be checked in without eventually leads into performance problem.  But if you clone this repository and build it locally (instruction in readme.md), the script will pull the right osrm version locally and it included the right osrm-extract etc.  The build.ps1 scripts is what fetch the dependencies locally.

[2017-05-02 15:08] linuzer commented on #33
The point I wanted to make is, if you have compiled everything, you need to prepare the data with the exact same OSRM binaries, but these binaries are nowhere available online - at least there is nowhere a reference to it. The corrosponding zip is far less than 10 MB and I thought it would not be a big issue to put it in a subfolder of this repo.

Now with your last hint I discovered, that the bui

[2017-05-03 03:37] ssuluh commented on #33
@linuzer, this is what I had originally, check in the dependencies (including the tools). Git get slower when we have lots of binaries files overtime.  Github git-lfs implementation does not help either (cost too much money for oss project like this). I also don't want necessarily advertise that s3 endpoints (amazon bandwidth cost and may be moved in the future).  If you look at the osrm project,

[2017-05-03 03:40] ssuluh commented on #31
@a6datta , since it's been a while I assume you solved the issue. Feel free to reopen this if it's not the case.

[2017-05-03 03:40] #31 closed, assigned to nobody

[2017-05-10 01:19] #33 closed, assigned to nobody

[2017-05-10 09:15] linuzer commented on #33
Thanks for the help, I got it finally.

[2017-09-14 13:51] 03July commented on #30
Hello,

Now boost is supported in VS2017, could you please update the project for VS2017 and use the latest release build : http://build.project-osrm.org/ ?

Kind regards,
Daniel

[2017-09-19 12:50] 03July opened #34 "Accents are not marshalled correctly"
I found a bug in RouteResult.cpp (line 105) :
routeStep->Name = msclr::interop::marshal_as<System::String^>(name);
where the accents is not converted correctly.

For example : Got 'Rue Jacques DestrÃ©e' but expected 'Rue Jacques Destrée'. It seems OSRM lib is encoded with UTF-8.

I'm an experienced developer in C#, Java & Objective-C but I'm not familiar with C++/CLI so I cannot propose a fix.

Ki

[2017-09-20 00:18] ssuluh commented on #34
Hi Daniel,
Just to help me out, do you still have the coordinate for the route and what region of pbf map you're using?

[2017-09-20 01:03] 03July commented on #34
Hi Surya,

I'm using the region : https://download.geofabrik.de/europe/france-latest.osm.pbf but the sub-region
: https://download.geofabrik.de/europe/france/ile-de-france-latest.osm.pbf should work.

The route is :
http://127.0.0.1:5000/route/v1/driving/2.349566,48.829717;2.472986,48.629575?steps=true

Note also that the lane node in this route will be cause another bug :
const auto& laneList = i

[2017-09-20 12:42] ssuluh commented on #34
Hi Daniel, thanks for the heads up and I'll definitely will look into your solution. I made progress last night.  It is caused by the libosrm compiled with non unicode. We still want to leave libosrm as is so the solution will have to be a string conversion. I tested it last night and it worked nicely, but I know I have to apply it everywhere that deals with string.
On a different note, looking at

[2017-09-20 13:24] 03July commented on #34
Hi Surya,

Yes it would be nice to work together, how can I contact you directly so I can give my email to setup detail.

I already finish a full implementation of route in the modified project in Dropbox.
Indeed I feel comfortable to implement ProcessRouteLeg, ProcessManeuver ... as it is just to adapt the code as the syntax is already there.

[2017-09-20 13:54] ssuluh commented on #34
Daniel, you can reach me at ssuluh@yahoo.com

[2017-09-21 13:40] ssuluh commented on #14
Updated readme.

[2017-09-21 13:40] #14 closed, assigned to nobody

[2017-09-22 00:58] ssuluh commented on #34
Addressed with #36

[2017-09-22 00:58] #34 closed, assigned to ssuluh

[2017-09-25 02:45] ssuluh commented on #30
Addressed by #27

[2017-09-25 02:45] #30 closed, assigned to ssuluh

[2017-09-25 02:59] #27 closed, assigned to ssuluh

[2017-09-26 01:34] ssuluh opened #38 "Pre release 1.0"
Create a pre release for 1.0

[2017-09-30 00:26] #38 closed, assigned to nobody

[2017-10-25 19:19] benjamin-miller opened #40 "Nuget package for 1.0.0.1-pre is missing tbb library"
When installing the nuget package 1.0.0.1-pre the installation fails with the following error:

`Failed to add reference to 'tbb'.`
`  Please make sure that the file is accessible, and that it is a valid assembly or COM component.`

[2017-10-31 01:04] #40 closed, assigned to ssuluh

[2017-12-12 21:48] benjamin-miller opened #42 "Nuget package does not work with IIS or IIS Express"
When upgrading from version 0.1.0.55-pre to 1.0.0.4-pre I found that IIS hosted applications to fail with the following exception:

Investigation showed that tbb.dll and tbbmalloc.dll were no longer being loaded, however adding them to c:\windows\system32\inetsvr would allow the application to find them and resolve the error.  The issue is related to IIS only copying managed assemblies to its temp

[2017-12-23 13:47] ssuluh commented on #42
Ben, I am not sure if this is something that can be addressed by nuget itself (or even if it's doable, it'll be worth doing). It's either you turn off the shadow copying in IIS or make it part of your deployment strategy of your app.

[2017-12-23 13:47] #42 closed, assigned to nobody

[2017-12-28 19:11] bdaunt opened #43 "Upgrade to OSRM 5.15.0"
The current OSRM-Backend redistributables are v5.15.0 and return an error when configuring the engine.

[2018-01-04 01:31] ssuluh commented on #43
Hello @bdaunt I'm going to work on the upgrade but 5.15 is not release yet, so do you want to wait until 5.15 is released or I can release osrmnet with latest of 5.14 ?

[2018-01-10 03:31] ssuluh commented on #43
5.15 is not released yet, so I'm releasing it with 5.14.2

[2018-01-10 03:31] #43 closed, assigned to ssuluh

[2018-01-20 10:03] ssuluh opened #45 "Missing Algorithm in the EngineConfig"
Currently there's no way to specify what algorithm to use in the config.

[2018-01-22 02:20] #45 closed, assigned to nobody

[2018-01-22 02:28] ssuluh commented on #3
Released 1.0

[2018-01-22 02:28] #3 closed, assigned to ssuluh

[2018-03-15 01:23] ssuluh opened #47 "Upgrade to latest OSRM 15.8"
- [x] Organize TestData so that it won't have to be generated for the same major.minor version of osrm
- [x] Update dependencies to 5.18.0
- [x] Implement new addition of parameters in Table [4990](https://github.com/Project-OSRM/osrm-backend/pull/4990)
- [x] Implement adding message to route result per @03July

[2018-03-16 05:38] ifle opened #48 "[Question] Is an instance of OSRM object is thread safety?"
What is the right way to use the instance of OSRM object? Is it can be used as singleton?

[2018-03-19 11:59] linuzer opened #49 "Ref-key is not filled"
Hi,

it looks to me, that the ref-key is never filled, although the property does exist in the RouteStep-object.

[2018-03-19 16:21] ssuluh commented on #48
I have to investigate it fully, but I assume it is not safe. The .net side code should be safe, but I'm not so sure about the unmanaged libosrm part.

[2018-03-19 16:29] ssuluh commented on #48
I posted this question in osrm project ([Issue 4966](https://github.com/Project-OSRM/osrm-backend/issues/4966))

[2018-03-19 16:36] linuzer commented on #49
Here I have an easy fix that works for me (sorry, I don't know how to put together a pull-request)

In Route.h the Ref-property needs to be a string:

[code]

And in Route.cpp the function ProcessStep needs close the the end another if-statement:

[code]

[2018-03-19 21:01] ssuluh commented on #48
@ifle they said it's thread safe.

[2018-03-19 21:01] #48 closed, assigned to nobody

[2018-03-19 21:05] ssuluh commented on #49
Ok, I'll look into it. But if you want to get credit for the fix you can follow this: https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2018-03-20 07:01] ifle opened #50 "Is osrmnet production ready?"
Do you know is someone use it in production?

[2018-03-21 00:02] ssuluh commented on #50
I'm not sure. It'll be nice to find that out, but I look up nuget.org latest version is downloaded 73 times. I know it doesn't tell definitely how it's used, but hopefully there's at least one that using it in production. But I need help in increasing the unit test coverage as it wasn't develop tdd way.

[2018-03-21 00:16] #49 closed, assigned to nobody

[2018-03-21 00:18] ssuluh commented on #49
@linuzer I release new version with your fix, you can get it from nuget.

[2018-05-02 00:12] #50 closed, assigned to nobody

[2018-05-22 22:07] #47 closed, assigned to nobody

[2018-07-22 00:06] a6datta opened #54 "System.BadImageFormatException"
Hi I downloaded nuget package. My project is targeting dot net 4.5 and I tried x86, x64 and any CPU all settings. However I get the following error.

{"Could not load file or assembly 'osrm.net, Version=1.0.0.18, Culture=neutral, PublicKeyToken=null' or one of its dependencies. An attempt was made to load a program with an incorrect format."} | System.BadImageFormatException

[2018-07-22 00:12] a6datta commented on #54
It works if I target x64

[2018-07-22 00:12] #54 closed, assigned to nobody

[2018-10-28 08:28] swadhin- commented on #50
The issue with osrmnet is there is no documentation provided on how to connect osrmnet with osrm. If something goes wrong it throws a generic exception and then you are left with no choice but to go through the entire library or see issue log on github.

There is a major issue where if the versions do not match it does not build.

[2018-10-28 11:07] ifle commented on #50
@swadhin- Do you use it on production?

[2018-10-28 11:15] swadhin- commented on #50
I stopped using it because of the versioning issue

[2018-10-28 11:24] ifle commented on #50
How to you use osrm on windows?

[2018-10-28 11:39] swadhin- commented on #50
There are pre-built versions.
1. https://github.com/Project-OSRM/osrm-backend/wiki/Windows-Compilation
2. http://build.project-osrm.org

But these versions are not supported by osrmnet.

[2018-10-28 12:10] ifle commented on #50
Thanks. the latest version built 1Feb 2018. OSRM team official does not support windows. There is also nodejs wrapper, but it also does not support windows

[2018-10-28 15:31] ssuluh commented on #50
@ifle @swadhin- , sorry I've been swamped recently with other project, but what I can do I can work on syncing up with the latest version of osrm and release a version. I'll see if I can work a better documentation for user to build it themselves.  For the most part you have to build osrm locally first before you can use the output of that build to build osrmnet.

[2018-11-10 10:10] ifle commented on #50
Thanks @ssuluh. Do you have a lot experiences with osrm builds on windows, maybe can you contribute to osrm project to support nodejs wrapper for windows?
Unfortunately the osrm team does not support the nodejs build for windows.

[2019-01-01 13:17] ifle commented on #50
@ssuluh That will be very helpful. I tried build osrm locally without any success.
[code]

[2019-01-24 12:01] Stan92 opened #55 "Version 5.22?"
Hi,
Is it possible get the version 5.18 of the osrm tools?

Using the current version, the app failed saying
xxxxx.osrm.cells prepared with OSRM 5.22.0 but this is v5.18.0

thanks for your help

[2019-01-25 17:30] Stan92 commented on #55
I've finally downloaded the right branch.. everything is ok.

[2019-01-25 17:30] #55 closed, assigned to nobody

[2019-01-26 19:38] Stan92 opened #56 "Upgrade to the latest version?"
Hi,
Do you have any roadmap about the upgrade to the latest version of OSRM (5.2x)?
Thanks.

[2019-02-26 00:43] ssuluh commented on #56
Yes, I'm working on updating it to 5.22.0. Sorry took a while for me to get to it.

[2019-02-26 02:51] ssuluh commented on #56
Completed upgrade to 5.22. See PR #57

[2019-02-26 02:51] #56 closed, assigned to nobody

[2019-02-26 03:13] ssuluh commented on #55
Glad you figured it out. If you build locally, there should be a zip file inside src\osrmnet\libosrm\redist that contains the matching osrm library and tools.

[2019-02-26 03:16] ssuluh commented on #56
@Stan92 , if you go to nuget, you should be able to use [osrmnet 1.0.0.20](https://www.nuget.org/packages/osrmnet/1.0.0.20). This version is precompiled for 5.22 osrm.

[2019-03-24 00:24] ssuluh opened #58 "Use GitSubmodule Repo for OSRM library"

[2019-06-20 07:26] Longnt1208 opened #59 "Can build this project with dotnet core ?"
Hi ssuluh,

I installed you lib by nuget and I have warning that this lib only support .net framework. How can build your lib with .net core support ?

[2019-06-20 22:32] ssuluh commented on #59
It may not be possible. The c++ wrapper is written with c++/cli which afaik is not supported in .net core. You may have wrapped the osrm directly with tools like  https://github.com/mono/CppSharp.

[2019-06-21 09:44] Longnt1208 commented on #59
I will try, thank you.

[2019-06-21 09:44] #59 closed, assigned to nobody

[2019-10-16 09:23] tstaa opened #61 ".NET Core 3.1 Support"
.NET Core 3.1 Preview 1 (Visual Studio 2019 - 16.4.0 Preview 2) now supports .NET Core CLR Library.

I tried to modify the project myself, I couldn't get it to work, I'm not very familiar with C++ or C++/CLI project systems.

[2019-10-17 02:00] ssuluh commented on #61
@tstaa, I'll take a look this weekend

[2019-11-07 21:46] progdogusmc opened #63 "Support for Nodes output by Nearest service"
Hello sir!

I noticed that the Nearest service was missing support for the newly returned Nodes information, so I added some stuff to parse it. I submitted a pull request here: https://github.com/ssuluh/osrmnet/pull/62

Thank you for the excellent wrapper library!

[2019-11-12 04:38] ssuluh commented on #63
Addressed with PR #62

[2019-11-12 04:38] #63 closed, assigned to nobody

[2019-11-20 10:18] xilutian opened #65 "System.BadImageFormatException : 未能加载文件或程序集“osrm.net, Version=1.0.0.26, Culture=neutral, PublicKeyToken=null”或它的某一个依赖项。试图加载格式不正确的程序。"
![image](https://user-images.githubusercontent.com/14370659/69229990-7489c100-0bc1-11ea-9f77-115a1e91b319.png)

why  can not load osrmnet.dll

[2019-11-21 02:51] ssuluh commented on #65
It look like you're running it in 32 bit. OSRM.net can't run in 32 bit because the underlying osrm.lib is 64 bit. Make sure your test is set to run in x64 like below:
![image](https://user-images.githubusercontent.com/12562475/69299941-d8bb7d80-0bdf-11ea-9a78-fe32b05c96ee.png)

[2019-11-28 06:47] xilutian commented on #65
Thank you. I'm a novice. I want to add a real-time train navigation. How to add a profile in this project

[2019-11-29 05:27] ssuluh commented on #65
@xilutian, the best way is to start reading the docs of the Project-OSRM itself ((https://github.com/Project-OSRM/osrm-backend). I know profile based of LUA script, I'm not familiar with them (https://github.com/Project-OSRM/osrm-backend/tree/master/profiles).

I'm going to close this issue since the op is resolved.

[2019-11-29 05:28] #65 closed, assigned to nobody

[2020-01-03 11:08] Stan92 commented on #61
Hi, still in progress? :-)

[2020-01-03 15:41] ssuluh commented on #61
I'm afraid so been out of the country and busy. I'll try to do it next week, code is reviewed but the CD pipeline may have to be revisited to be able to publish it correctly.

[2020-03-16 04:13] ssuluh commented on #61
I know it's been a long time, but today I have significant progress. New revamped build system utilizing git submodule that link to the osrm-backend project, .net core 3.1 re-target for main and test project. Known limitation it's still 64 bit Windows OS only.

What's left to be done:

- [ ] Rebuild the AppVeyor Pipeline
- [ ] Have Docker build the osrm-backend portion
- [ ] Nuget package probably

[2020-03-21 15:52] ssuluh commented on #61
I got blocked by the build tools:
https://github.com/MicrosoftDocs/visualstudio-docs/issues/4915

[2020-03-24 11:56] suou-ryuu commented on #61
@ssuluh Hey

I tried cloning the repo and building the `netcore31-upgrade` branch locally but `Boost` was unavailable (I didn't have it installed). I tried installing it but ran into a host of issues that have taken up most of my day.
I was wondering if you could send me a copy of the built output to include in a dotnet core app?
I ask as we need it fairly urgently in my company right now.

Thanks

[2020-03-24 12:37] ssuluh commented on #61
That branch is still work in progress. But I can tell you what's the plan. There's a git submodule in there that is set to point to the 5.22 version of osrm-backend. You have to build that project first (to build locally there should be a file build-local.bat, but if you run into trouble there's documentation in their website for building under windows). After this is good, then osrmnet can be bui

[2020-03-24 13:24] suou-ryuu commented on #61
Thank you for the quick response. :)
I'll give your suggestion a try tomorrow

[2020-04-20 04:02] ssuluh commented on #61
At the moment the main project of osrm build is no longer working. I'm blocked because of it.
https://github.com/Project-OSRM/osrm-backend/issues/5718

[2020-04-21 14:40] suou-ryuu commented on #61
I'm really sorry for the late reply, the current climate has made things too crazy to be able to keep up with.
I only just managed to get to trying a local build today (thankfully, I still have a copy of the osrm-backend binaries and the master branch from ~a month ago) and encountered the following errors when running the build.ps1 file:

For the osrrm,net project:
[code]

For the osrm.net.test p

[2020-04-23 01:06] ssuluh commented on #61
@suou-ryuu , it seems that you're missing the appropriate sdks. Make sure you have the appropriate c++ sdk for the first error and the .net core sdk for the 2nd error.

[2020-04-23 10:47] suou-ryuu commented on #61
For some reason the v142 build tools are not available for VS2017 (which the build is looking for). Upgrading cake to the latest version allowed me to target VS2019 which does have the v142 build tools.
However I eventually got to an error where osrm.lib can't be found, and when running the backend build I get a 403 error when it tries to download an osrm-deps zip file.

If you happen to have an o

[2020-04-24 04:03] ssuluh commented on #61
Yes, so this is where I was stopped. I created issues in their repo, see my post above:  #Project-OSRM/osrm-backend#5718

[2020-04-25 01:10] ssuluh commented on #61
@suou-ryuu , I just published new version in nuget. Do you mind testing this and let me know ? Thanks.

[2020-04-25 06:33] suou-ryuu commented on #61
@ssuluh Thank you for publishing a new version, I really appreciate it :)

Unfortunately, after downloading and trying to run a solution I got the following error:
[code]

This is in a netcoreapp3.1, and I tried both x64 and x86 platforms but in both cases got the above error.

[2020-04-25 13:07] ssuluh commented on #61
This is because of your .net process is running in 32 bit (the platform has nothing to do with it, you can still run 32 bit in 64 bit platforms) . Check some of the past issues: https://github.com/osrmnet/osrmnet/issues?q=BadImageFormatException+

[2020-04-25 13:40] suou-ryuu commented on #61
As I said, the error occurred when the project was set to run in either x64 or x86 platform.
I'll try again tomorrow to be sure but the project was originally x64 and I only tried x86 out of curiosity

[2020-05-01 12:45] ghost opened #71 "c# error loading dll"
Hello,

System.BadImageFormatException: 'Could not load file or assembly 'osrm.net, Version=3.1.0.27, Culture=neutral, PublicKeyToken=null'. An attempt was made to load a program with an incorrect format.'

[2020-05-01 12:48] 03July commented on #71
Please check that you are compiling in 64 bits

[2020-05-01 13:00] ghost commented on #71
![image](https://user-images.githubusercontent.com/30433818/80807047-36abb280-8bcd-11ea-8fbd-7b058a54fa80.png)

[2020-05-01 13:01] ghost commented on #71
![image](https://user-images.githubusercontent.com/30433818/80807131-6955ab00-8bcd-11ea-8721-e01a8ec9e5bf.png)

[2020-05-01 14:03] ghost commented on #71
Anyone help
Gentlemen, I tried all possible options but the problem remains

[2020-05-02 01:52] ssuluh commented on #61
@suou-ryuu ,  have you any luck in resolving this ?

[2020-05-02 03:34] ssuluh commented on #71
@iabesadze , I release a new version 3.1.0.29. I didn't test them with WPF project, but I can confirm I was seeing the issue with a fresh .net core console app, and with the new version it should just work. Please let me know if this fix your issue. Feel free to reopen as needed.

[2020-05-02 03:34] ssuluh commented on #61
@suou-ryuu , sorry about this issues.  But it should fixed now, please download the latest from nuget. https://github.com/osrmnet/osrmnet/issues/71

[2020-05-02 09:54] suou-ryuu commented on #61
@ssuluh I'm really sorry for the delay. I've been really busy with work this week, trying to push out a search service. I've just had another look at this and tried the latest version you kindly made available (3.1.0.29) and I'm experiencing the same error. For reference, here is the project file (I've excluded included code files includes as they are noise that aren't related to this issue):

[co

[2020-05-02 13:25] ghost commented on #71
Hello,
I have version 3.1.0.29
Sorry, I didn’t understand what I need to do to make it work

Sorry, where can i get a small example

Many thanks

[2020-05-03 22:47] ssuluh commented on #71
@iabesadze ,
Sorry about this, would you mind retry new version with your test 3.1.0.30.  So the idea is for anyone not to do anything special other than add the package via nuget. Please let me know if that version fix it.

[2020-05-03 22:52] ssuluh commented on #61
@suou-ryuu , sorry again about the nuget mishaps. Please retry it again with 3.1.0.30 since 29 still have issue with not copying all the dependencies at the right location. The only other thing (not sure if this will be a different problem altogether) is that the c++ portion of the osrmnet is compiled using Win10 sdk, to be safe your RuntimeIdentifier has to be win10-x64. But this means you need t

[2020-05-04 14:28] ghost commented on #71
Heloo, many thanks
![image](https://user-images.githubusercontent.com/30433818/80976836-fc444e80-8e34-11ea-94f9-f890a3c4fcf4.png)

So, any simple sample please.

[2020-05-04 14:49] ghost commented on #71
![image](https://user-images.githubusercontent.com/30433818/80979155-0b78cb80-8e38-11ea-963d-6e3f18d02c45.png)

[2020-05-05 16:36] suou-ryuu commented on #61
@ssuluh Apologies for the delay. I've been struggling with internet for the past 2 days (my ISP are having issues during the state of emergency). I'll do my best to try it out tomorrow and get back to you, although it may be as late as Friday. Sorry :(

[2020-05-07 23:13] ssuluh commented on #71
@iabesadze , since I can't tell how you process the osrm files, have you done all the steps outline by osrm project (https://github.com/Project-OSRM/osrm-backend/wiki/Running-OSRM)? Also which version of osrm tooling you run can sometime matter, it has to match the version that osrmnet is compiled against. Osrmnet is compiled using 5.22. You can get matching osrm tooling conveniently included with

[2020-05-07 23:27] Bambooza commented on #71
I also am getting the same error in regards to Required files are missing.  I double-checked that the files were created by running osrm-routed --algorithm-MLD and it started up fine with the ability to display routing information.

[2020-05-07 23:35] Bambooza commented on #71
I double-checked the release version I am running is 5.16.0 which is the latest release build  (http://build.project-osrm.org/).  I'll check the debug build.

[2020-05-08 00:01] ssuluh commented on #71
@Bambooza , you can't guarantee that files processed by different version of osrm (including point release) are always compatible. This was discussed at some point in their mailing list.  Also the main project osrm does not release any more compiled new version as they stopped official support for windows, and those http://build.project-osrm.org are really old and certainly no longer latest. If yo

[2020-05-08 01:03] Bambooza commented on #71
Sounds good I'll go ahead and find a way to build the osrm files with the latest version.

[2020-05-11 05:47] suou-ryuu commented on #61
@ssuluh I'm very sorry for the delayed response. I'm no longer seeing the `BadImageFormatException` but I'm now getting this error:
[code]

It's not too informative so I'm not sure which files it's referring to. Any ideas?

[2020-05-17 04:53] ssuluh commented on #61
@suou-ryuu , this is something to do with your osrm data. Did you preprocess the file correctly, specify correct algorithm ? This could be so many other things, but it is outside osrmnet. Please refer to [osrm documentation](https://github.com/Project-OSRM/osrm-backend/wiki) in particular how you prepare the data files. I'm closing this issues as I had confirmation from others it's working.

[2020-05-17 04:53] #61 closed, assigned to ssuluh

[2020-05-17 04:55] ssuluh commented on #71
@iabesadze , have you any luck, I'm closing this issue as the latest library are confirmed working. You can reopen this anytime.

[2020-05-17 04:56] #71 closed, assigned to nobody

[2021-01-22 08:40] NguyenSen opened #74 "how to upgrade lib to osrm v5.24"
you can support upgrade lib osrm v5.24

[2021-03-18 16:54] r-work commented on #74
Wondering the same, this would be great.

[2021-03-18 16:55] r-work commented on #74
Wondering the same, that would be great.

[2021-03-25 10:36] ssuluh commented on #74
Thank you for your interest in osrm.net. I have to look into it again as the last time we had issue building osrm from the parent project for Windows which prevent the upgrade work

[2021-05-12 18:22] dantey89 commented on #74
+1 for feature request

[2021-05-12 18:44] dantey89 commented on #71
I was facing the same issue. Thanks to your reply I was able to solve it. Building maps with the incorrect version of osrm tools leads to the situation when EngineConfig.IsValid() returns false.

[2021-05-14 03:41] NguyenSen commented on #74
I try it and success for rebuild with osrm5.24
Thanks @ssuluh

[2021-05-14 03:41] #74 closed, assigned to nobody

[2021-12-06 01:16] a6datta opened #75 "Error when using nuget package"
@ssuluh
I have downloaded the latest (2018) pre built windows binary from http://build.project-osrm.org/ and extracted the pbf files using these commands.
osrm-extract great-britain-latest.osm.pbf
osrm-partition great-britain-latest.osrm
osrm-customize great-britain-latest.osrm

When I use osrmnet nuget package, it doesn't work.
[code]

I get this error
Required files are missing, cannot continue.

[2021-12-25 00:01] a6datta commented on #75
The library support osrm ver 5.22 but I think the pre-built ver is 5.16.

[2021-12-25 02:36] ssuluh commented on #75
@a6datta, osrm project no longer maintain windows build. If you want the latest that they have,  you have to build it yourself.  As of right now, osrmnet only goes up to 5.22.  If you want 5.22, you need to run build.ps1 to build it locally and the 5.22 library will be downloaded and it should be in .\osrmnet\src\osrm.net\libosrm\redist

[2021-12-25 12:21] a6datta commented on #75
@ssuluh

Is there any issue with 5.22. Because when I build and run, there is an error. However the pre build binary 5.16 works fine.

C:\Users\datta\source\repos\WinFormsApp2\WinFormsApp2\bin\Release\netcoreapp3.1>osrm-extract great-britain-latest.osm.pbf
[info] Parsed 0 location-dependent features with 0 GeoJSON polygons←[0m
[info] Using script profiles/car.lua←[0m
[info] Input file: great-brita

[2021-12-25 12:27] a6datta commented on #75
I think great-britain-latest.osrm.hsgr is missing. 5.16 generates this. May be it's not required in 5.22.

[2021-12-25 12:44] a6datta commented on #75
@ssuluh
Looks like osrm issue. If I prepare for MLD first nothing works, if I prepare for CH first then CH profile works.
Thanks

[2021-12-25 19:40] a6datta commented on #75
Will you be adding nuget package for dot net framework as well in future. Or is it only going to be net core?

Pls see the image for issue with dot net framework 4.8 and latest osrmnet.
![dotnet](https://user-images.githubusercontent.com/14138235/147394798-28dc0b9a-4cf7-4326-8cb7-e70fa9012c03.png)

For now I have manged to use the nuget package 1.0.0.26 in dot net framework project and it works.

[2021-12-28 06:17] ssuluh commented on #75
@a6datta , this library is used in various productions, it looks like your lock issues is due to something else.  Moving forward however, because of limitation of .NET interop and limited osrm windows support, it's getting harder to maintain this library.  At this point you can only run this lib in Windows platform, 64 bit process only (this is verified working).  If you don't want to wrap osrm li

[2021-12-28 06:18] #75 closed, assigned to nobody

[2021-12-28 09:24] a6datta commented on #75
@ssuluh
I appreciate your work and thank you for starting this project.

I could try to re produce the issue on a smaller project, I could be wrong, lets see.

Secondly my question was not about windows 64 bit. I ran it on a 64 bit application. My question was whether you will release a NuGet package for dot net framework as well or it will only be for dot net core.

[2021-12-28 10:09] a6datta commented on #75
@ssuluh Could you please check this sample and tell me what I am doing wrong when you have a few minutes. Thanks

[code]

[2021-12-28 10:18] a6datta opened #76 "Possible issue when using in parallel"
@ssuluh I opened a new issue as this is different from NuGet package. Could you please check this sample and tell me what I am doing wrong when you have time. Thanks

[code]

[2022-01-01 14:04] a6datta commented on #76
It works this way. But it's not exactly a solution. Because if GetDistanceAsync() is called again before the previous set of tasks are completed, it will throw exception. Another option is to cancel the previous set of tasks, before starting new set. But it's also not ideal as two different methods may need to access the same data files.

[code]
Result: Ok
Result: Ok
Result: Ok
Result: Ok
Result:

[2022-01-04 09:51] swadhin- opened #77 "Sample windows build for osrm-backend 5.22"
The current version of the project targets osrm-backend 5.22 windows build. To get that one has to go though much pain cause osrm-backend stopped maintaining windows support sometime back. It would be helpful if the working build of osrm-backend 5.22 is referanced from the project. It would make this project more usable

[2022-01-05 01:22] ssuluh commented on #77
Hi @swadhin, building osrm-backend is rather out of scope for this project. It's more fruitful to ask how to do windows build in that project as they're more people that may know the topic better than me.

If you just need 5.22 osrm-backend precompiled library, you can clone this project and run local build it will pull prebuild 5.22 that I had long time ago when they still support windows build.

[2022-01-05 01:22] #77 closed, assigned to nobody

[2022-01-05 01:32] ssuluh commented on #75
@a6datta, sorry I wasn't reading your question correctly.  I haven't really investigated how good is the support for c++ cli in dotnet fw, it seems that Microsoft does not see any value in making investment in this area. With everyone prefers running unix container rather than windows, this project become less useful because of this limitation and among other reason that osrm-backend dropped the s

[2022-01-05 01:42] ssuluh commented on #76
@a6datta , can you help by trying this:

Rather than walking the coordinate just send the same input coordinate in parallel (I don't cache anything on this side so it will always calculating again and again).  I want to see if you get the error due to osrm-backend throwing some exception because for some coordinate it fail to calculate distance somehow and throw exception or it is really parallel

[2022-01-06 15:33] a6datta commented on #76
@ssuluh

I have tried this way. Here is the code and I have attached the error screenshot.

[code]

[2022-01-06 15:35] a6datta commented on #76
![error](https://user-images.githubusercontent.com/14138235/148408169-065d172d-3a23-4525-9290-af808687a77e.png)

[2022-01-07 00:48] ssuluh commented on #76
It's been a while, but please confirm what I'm saying below by reading their documentation and search their issues. I think creating the actual EngineConfig itself is not threadsafe, but once an engine is created, you can call their service method from multiple thread.

If you look at your error it makes sense, you're trying to intialize the engine every time, during that it has to load the osrm f

[2022-01-07 09:14] a6datta commented on #76
I understand. I tried with a global config and it's working. Thank you

[2022-01-07 09:14] #76 closed, assigned to nobody

[2022-01-20 19:15] swadhin- opened #78 "Issue with handling large osrm file"
I have built osrm backend version 5.22 for windows and extracted the data. For small areas it works but for large areas it fails saying some files are missing. I tried running the extracted files with osrm-routed and it works without any issue. So the error is not on osrm-backend side.

I extracted and tried to run this data -
https://download.geofabrik.de/asia/bangladesh.html

Windows Build -
[OS

[2022-01-20 23:10] ssuluh commented on #78
Do you have exact error ? Just missing files is rather generic.

[2022-01-21 16:16] swadhin- commented on #78
`Osrmnet.OsrmException : Required files are missing, cannot continue.  Have all the pre-processing steps been run?`

The error it self is rather generic. It doesn't mention what file or what's missing and doesn't appear for smaller data sets. Also the data extraction is not at fault cause osrm-routed is able to run it properly

[2022-01-23 22:28] ssuluh commented on #78
@swadhin-

I can not reproduce your issue.  Created a .NET6 console app and pre process [bangladesh-latest](https://download.geofabrik.de/asia/bangladesh-latest.osm.pbf) using official 5.22 redistributable. Algorithm is set for MLD.

See below:
![image](https://user-images.githubusercontent.com/12562475/150697953-99d366ef-aff9-4c3e-b39b-0d406d59801e.png)

You can also get osrmnet official 5.22 bui

[2022-01-25 11:19] swadhin- commented on #78
Thanks, Let me try to build it using the build.ps1 file

[2022-02-23 02:54] swadhin- commented on #78
I was able to run it without any issues. Thanks !!

[2022-02-23 02:54] #78 closed

[2022-04-10 18:38] ssuluh commented on #58
Deprecated issues. Decided not to go this direction.

[2022-04-10 18:38] #58 closed, assigned to ssuluh

[2022-04-13 04:42] ssuluh opened #79 "Upgrade to libosrm 5.26"

[2022-04-13 05:16] #79 closed, assigned to nobody

[2022-06-17 13:36] r-work opened #81 "net 6.0 support"
net 3.1 is almost EOL, can we have this targeting .net 6.0 please?

[2022-06-17 22:26] r-work opened #82 "Docker issue"
When run inside a docker container (Windows container), it throws the following error:

`System.IO.FileNotFoundException: Could not load file or assembly 'osrm.net, Version=3.1.0.30, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.`

Base container is aspnet:6.0

[2022-06-19 21:45] #81 closed, assigned to nobody

[2022-06-21 00:00] r-work commented on #82
I think the issue is the missing `Microsoft Visual C++ Redistributable`

Though I've dealt with my issue using a different approach, just in case anyone having the same issue, your Dockerfile might need to look something like this:

[code]

[2022-06-21 00:00] #82 closed, assigned to nobody